.insertForm {
  color: azure;
  
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  
}

.radio {
  margin: 20px;
  padding: 20px;
}

.radio-concreto {
  display: flex;
  flex-direction: column;
}

label {
  margin: 15px;
}
form {
  color: azure;
  background-color: #425075;
  border-radius: 20px;
  box-sizing: border-box;
  padding: 20px;
  margin: 20px;
  width: 350px;
}

input {
  height: 50px;
  position: center;
  width: 100%;
  font-size: x-large;
}

button {
    margin-top: 20px;
  border-radius: 12px;
  border: 1;
  box-sizing: border-box;
  color: rgb(0, 0, 0);
  cursor: pointer;
  font-size: 18px;
  height: 50px;

  text-align: center;
  width: 100%;
}
