.MenuButtonWraper {
  height: 60px;
  display: flex;
  align-items: center;
  padding-left: 15px;
}

.MenuButtonWraper img {
  height: 40px;
  width: 40px;
  margin: initial;
  padding: initial;
}

@media (min-width: 1280px) {
  .MenuButtonWraper {
    display: none;
  }
}
