@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');


body {
  font-family: 'Ubuntu', sans-serif;
  text-align: center;
  align-items: center;
  background-color: #f2ffe8;
  color: #05396e;
  margin: 0;
  padding: 0;
}
