.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  width: 60%;
  margin: 40px;
  padding: 25px;
  background-color: blanchedalmond;
  border: 4px solid black;
}

.subtitle {
  margin: 20px;
  padding: 20px;
}

.gitcontainer {
    display: flex;
    justify-content: space-around;
    margin-bottom: 75px;

}

