.subtitle {
  font-family: 'Rokkitt', serif;
  font-size: 20px;
  margin: 30px;
  line-height: 30px;
}
.imageStatistic {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
    position: relative;
    width: 100%;
    margin-top: 50px;
    margin-bottom: 20px;
    .statisticWrapper {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
    .statistic {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 20%;
      .statisticImageWraper {
          height: 300px;
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 20px;
          img {
              width: 100%;
          }
          h3 {
            color: #383838;
            font-family: "Roboto Slab", serif;
            font-size: 17px;
            font-style: normal;
          }
      }
    }
    ul {
      display: flex;
      justify-content: center;
      justify-content: space-around;
      color: #8BB0D9;
      font-family: "Roboto Slab", serif;
      margin-top: 40px;
    }
    h2 {
      font-family: "Roboto Slab", serif;
      font-size: 30px;

    }
  }
  