.li-container-comedores {
    border: solid rgb(0, 0, 0) 5px;
    padding: 25px;
    margin: 25px;
    background-color: #cc8b8673;
    list-style-type: none;
    box-shadow: rgba(0, 0, 0, 0.30) 1.95px 1.95px 2.6px;

    h1 {
        margin: 5px;
    }

    h2 {
        margin: 5px;
    }

    h3 {
        margin: 5px;
    }

    iframe {
        margin: 15px;
    }
}