.navbarWrapper {
    top: 60px;
    color: black;
    line-height: 40px;
    width: 100%;
    height: calc(100vh - 60px);
    background-color: white;
    display: flex;
}

.navbarWrapper nav {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 15px;
    margin-top: 30px;
    font-size: 20px;
}

.navbarWrapper.closed {
    position: fixed;
    left: -100%;
    transition: all 0.3s ease-in-out;
}

.navbarWrapper.opened {
    position: fixed;
    left: 0%;
    transition: all 0.3s ease-in-out;
}

