.li-container-albergues {
    
    border: solid whitesmoke 5px;
    padding: 25px;
    margin: 25px;
    background-color: #f2a65a83;
    list-style-type: none;

    h1 {
        margin: 5px;
    }

    h2 {
        margin: 5px;
    }

    h3 {
        margin: 5px;
    }

    iframe {
        margin: 15px;
    }
}